<h2>Archived Load Distribution Graphs Are Available For</h2>

<ol class="list-unstyled">
    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'may', 'year' : 2015}) }}">
            May 2015
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'april', 'year' : 2015}) }}">
            April 2015
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'march', 'year' : 2015}) }}">
            March 2015
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'february', 'year' : 2015}) }}">
            February 2015
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'january', 'year' : 2015}) }}">
            January 2015
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'december', 'year' : 2014}) }}">
            December 2014
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'november', 'year' : 2014}) }}">
            November 2014
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'october', 'year' : 2014}) }}">
            October 2014
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'september', 'year' : 2014}) }}">
            September 2014
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'august', 'year' : 2014}) }}">
            August 2014
        </a>
    </li>
</ol>

<hr />

<h2>Yearly Infographic</h2>

<ol class="list-unstyled">
    <li>
        <a title="Right click to save..." href="{{ asset('images/egyptian-power-grid-load-year-in-review-2014.png') }}" target="_blank">2014 Infographic (.png file) <i class="glyphicon glyphicon-download-alt"></i></a>
    </li>
</ol>