<h2>Archived Load Distribution Graphs Are Available For</h2>

<ol class="list-unstyled">
    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'july', 'year' : 2015}) }}">
            Jul 2015
        </a>
    </li>
    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'june', 'year' : 2015}) }}">
            Jun 2015
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'may', 'year' : 2015}) }}">
            May 2015
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'april', 'year' : 2015}) }}">
            Apr 2015
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'march', 'year' : 2015}) }}">
            Mar 2015
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'february', 'year' : 2015}) }}">
            Feb 2015
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'january', 'year' : 2015}) }}">
            Jan 2015
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'december', 'year' : 2014}) }}">
            Dec 2014
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'november', 'year' : 2014}) }}">
            Nov 2014
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'october', 'year' : 2014}) }}">
            Oct 2014
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'september', 'year' : 2014}) }}">
            Sep 2014
        </a>
    </li>

    <li>
        <a href="{{ path('history_archive_month_and_year', {'month' : 'august', 'year' : 2014}) }}">
            Aug 2014
        </a>
    </li>
</ol>

<hr />

<h2>Yearly Infographic</h2>

<ol class="list-unstyled">
    <li>
		<a href="{{ path('infographic')}}">2014 Infographic</a>
		<a title="Right click to save..." href="{{ asset('images/egyptian-power-grid-load-year-in-review-2014.png') }}" target="_blank">(.png file) <i class="glyphicon glyphicon-download-alt"></i></a>
    </li>
</ol>
