{% extends 'base.html.twig' %}

{% if status == 'Danger' %}
    {% set status_class = 'danger' %}
    {% set status_message = 'Danger Zone' %}
{% elseif status == 'Warning' %}
    {% set status_class = 'warning' %}
    {% set status_message = 'Warning Zone' %}
{% elseif status == 'Safe' %}
    {% set status_class = 'success' %}
    {% set status_message = 'Safe Zone' %}
{% else %}
    {% set status_class = 'danger' %}
    {% set status_message = 'Unknown Status. Source seems to be down!' %}
{% endif %}




{% block title %}Home | Power Grid Load Status As A Web Service{% endblock %}

{% block fb %}
	<meta property="og:type" content="website"/>
    <meta property="og:url" content="http://power-grid-status.mos3abof.com/"/>
    <meta property="og:title" content="Power Grid Load Status As A Web Service"/>
    <meta property="og:description" content="This is an attempt at parsing the data in the Load Meter provided by The Egyptian Electric Utility and Consumer Protection Regulatory Agency (EGYPTERA)."/>
    <meta property="og:image" content="http://www.aecom.com/deployedfiles/Internet/Capabilities/Environment/Markets/Cropped_iStock_000003058682Medium_electric%20power%20lines.jpg"/>

{% endblock %}

{% block home_active %} active{% endblock %}


{% block content %}
<div class="blog-header">
        <h1 class="blog-title">Power Grid Load Status As A Web Service</h1>
        <!--<p class="lead blog-description">Egypt's power grid load monitor.</p>-->
      </div>

      <div class="row">

        <div class="col-sm-12 blog-main">

          <div class="blog-post">
            <p>
                <h3>Load on Egypt's electric power grid is in the<sup style="color:red;">*</sup>:</h3>
                <span class="text-center text-capitalize btn-lg btn-block btn-{{status_class}}" style="font-size:1.5em;">
                    {{ status_message }}
                </span>
            </p>
            <p>
                <em>
                    <sup style="color:red;">*</sup>
                    According to The Egyptian Electric Utility and Consumer Protection Regulatory Agency
                    (<a href="http://egyptera.org/ar/" target="_blank">EGYPTERA</a>).
                </em>
            </p>
            <br />

            <!-- <hr />
            <h2>Power Load Distribution Throughout Today</h2>
            <p>
                Looks like this!
            </p> -->
            <hr />
            <h2>Archived Load Distribution Graphs Are Available For</h2>
            <ol class="list-unstyled">
              <li><a href="{{ path('history_archive', {'month' : 'august'}) }}">August 2014</a></li>
              <li><a href="{{ path('history_archive', {'month' : 'september'}) }}">September 2014</a></li>
            </ol>

            <hr />
            <h2>Developers</h2>
            <p>
                Are you a software developer looking to integrate this data into your application?
                This project provides a web service. Head to the <a href="{{ path('api') }}">API section</a> for more information.
            </p>

            <hr />
            <h2>Disclaimer</h2>
            <p>
            	This service is created and its code is open sourced in the hope that it will be useful,
            	but WITHOUT ANY WARRANTY; without even the implied warranty of
            	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
			</p>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->
      </div><!-- /.row -->

{% endblock %}
